[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/automateal
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/automateal
	label-Verified = -1..+1 group user/automateal
	push = group user/automateal
	read = group user/automateal
	rebase = group user/automateal
	removeReviewer = group user/automateal
	submit = group user/automateal
[access "refs/heads/*"]
	create = group user/automateal
	push = +force group user/automateal
	pushMerge = group user/automateal
	read = group user/automateal
[access "refs/tags/*"]
	push = group user/automateal
	push = +force group user/automateal
